html{
    font-family: 'Nunito', sans-serif;
}
html{
    background-color: #001C30;
}
h1{
    font-size: 3rem;
    color: #000000;
    background-color: #64CCC5;
    font-weight: 700;
}
#chill{
    background-color: #1B9C85;
}
#Exercise{
    background-color:#EF6262;
}
#favS{
    background-color: #e0d72c;
}
#Adiye{
    background-color: #e02c59;
}
#GenshinOST{
background-color: #32c44b;
}
#p{
    background-color:#64CCC5 ;
}
#contact{
   color: #64CCC5;
   text-decoration: none;
}