html{
    background-color: #001c30;
    font-family: 'Nunito', sans-serif;
}

h1{
    background-color: #EF6262 ;
}
#Shapeofyou{
    background-color: #c95452;
}
#Uptownfunk{
    background-color:  #c95452;
}
#Theresnothingholdingmeback{
    background-color:  #c95452;
}
#Countingstars{
    background-color: #c95452;
}
#Sidetoside{
    background-color: #c95452;
}
#Blindinglights{
    background-color: #c95452;
}
#Thangamey{
    background-color: #c95452;
}
#Lightswitch{
    background-color: #c95452;
}
#Shivers{
    background-color: #c95452;
}
#Industrybaby{
    background-color: #c95452;
}
#Positions{
    background-color: #c95452;
}
#Badhabits{
    background-color: #c95452;
}
#Vaathicoming{
    background-color: #c95452;
}
#Beastmode{
    background-color: #c95452;
}
#Mastertheblaster{
    background-color: #c95452;
}
#Paradise{
    background-color: #c95452;
}
#Cruelsummer{
    background-color: #c95452;
}
#Daylight{
    background-color: #c95452;
}
#JDintro{
    background-color: #c95452;
}
#Maps{
    background-color: #c95452;
}
#Likethat{
    background-color: #c95452;
}
#Novacancy{
    background-color: #c95452;
}
#Canwekissforever{
    background-color: #c95452;
}