html{
  background-color: #001C30;
  font-family: 'Nunito', sans-serif;
}
h1{
    background-color:  #df2452;
}


#Adiye{
    background-color: #d03159;
}
#Idhazhinoram{
    background-color: #d03159;
}
#Meghamkarukatha{
    background-color: #d03159;
}
#Poneepo{
    background-color: #d03159;
}
#Whythiskolavaridi{
    background-color: #d03159;
}
#Kannazhaga{
    background-color: #d03159;
}
#Youreyes{
    background-color: #d03159;
}
#Vaavathi{
    background-color: #d03159;
}
#Adigaadiga{
    background-color: #d03159;
}
#Emoemo{
    background-color: #d03159;
}
#Kollagottey{
    background-color: #d03159;
}
#NaaloneyPongaynu{
    background-color: #d03159;
}
#Bayatikochichusthe{
    background-color: #d03159;
}
#Nenunuvvantu{
    background-color: #d03159;
}
#Munbevaa{
    background-color: #d03159;
}
#Neeye{
    background-color: #d03159;
}
#Appudoippudo{
    background-color: #d03159;
}
#Avaenna{
    background-color: #d03159;
}
#Yaenennaipirindhai{
    background-color: #d03159;
}
#Kanavekanave{
    background-color: #d03159;
}
#Yatheyathe{
    background-color: #d03159;
}
#Yennaimatrumkadhale{
    background-color: #d03159;
}
#Thulithuli{
    background-color: #d03159;
}
#Perfect{
    background-color: #d03159;
}
#Lovestory{
    background-color: #d03159;
}
#LovemelikeUdo{
    background-color: #d03159;
}
#Incomplete{
    background-color: #d03159;
}
#Silence{
    background-color: #d03159;
}
#Monster{
    background-color: #d03159;
}
#Withoutme{
    background-color: #d03159;
}
#Neverbethesame{
    background-color: #d03159;
}
#Canwekissforever{
    background-color: #d03159;
}
#Closer{
    background-color: #d03159;
}





