html{
    background-color:  #001C30;
    font-family: 'Nunito', sans-serif;
}
h1{
    background-color:#2db844;
}
#Rexincognito{
    background-color: #3e9c4d;
}
#Portormos{
    background-color: #3e9c4d;
}
#Ganyu{
    background-color: #3e9c4d;
}
#Coldnight{
    background-color: #3e9c4d;
}
#Wildfire{
    background-color: #3e9c4d;
}
#Dreamaria{
    background-color: #3e9c4d;
}