html{
    background-color: #001C30;
    font-family: 'Nunito', sans-serif;
}
h1{
    background-color:#1B9C85;
font-size: 3rem;
}
#Darling{
    background-color: rgb(76, 204, 207);
}
#Mood{
    background-color: rgb(76, 204, 207);
}
#Again{
    background-color: rgb(76, 204, 207);
}
#Starboy{
    background-color: rgb(76, 204, 207);
}
#Beautifulmistakes{
    background-color:  rgb(76, 204, 207);
}
#Pagsamo{
    background-color: rgb(76, 204, 207) ;
}
#Newyorknagaram{
    background-color: rgb(76, 204, 207) ;
}
#Bayatikochichusthe{
    background-color: rgb(76, 204, 207) ;
}
#Surething-sp{
    background-color: rgb(76, 204, 207) ;
}
#Watermelonsugar{
    background-color: rgb(76, 204, 207) ;
}
#Blindinglights{
    background-color:rgb(76, 204, 207) ;
}
#Southoftheborder{
    background-color: rgb(76, 204, 207) ;
}
#Havana{
    background-color:rgb(76, 204, 207) ;
}
#Badguy{
    background-color: rgb(76, 204, 207) ;
}
#Lightswitch{
    background-color: rgb(76, 204, 207);
}
#Sweaterweather{
    background-color: rgb(76, 204, 207);
}
#Noscrubs{
    background-color: rgb(76, 204, 207);
}
#Maps{
    background-color: rgb(76, 204, 207);
}
#Walkingaway{
    background-color: rgb(76, 204, 207);
}
#Novacancy{
    background-color: rgb(76, 204, 207);
}
#Wonderwall{
    background-color: rgb(76, 204, 207);
}
#Coolforthesummer{
    background-color: rgb(76, 204, 207);
}
#Oldtownroad{
    background-color: rgb(76, 204, 207);
}
#Idontcare{
    background-color: rgb(76, 204, 207);
}