html{
   background-color:  #001C30;
   font-family: 'Nunito', sans-serif;
}
h1{
    background-color:  #d1c927;
}
#Moodlofi{
    background-color:  #bbb53b;
}
#Again{
    background-color: #bbb53b;
}
#Loosinginterest{
    background-color: #bbb53b;
}
#Starboy{
    background-color: #bbb53b;
}
#Newyorknagaram{
    background-color: #bbb53b;
}
#Whythiskolavaridi{
    background-color: #bbb53b;
}
#Adiye{
    background-color: #bbb53b;
}
#Watermelonsugar{
    background-color: #bbb53b;
}
#Blindinglights{
    background-color: #bbb53b;
}
#Wedonttalkanymore{
    background-color: #bbb53b;
}
#YaenEnnaiPirindhai{
    background-color: #bbb53b;
}
#Ranjhatamil{
    background-color: #bbb53b;
}
#Nenunuvvantu{
    background-color: #bbb53b ;
}
#Hinafadingaway{
    background-color: #bbb53b;
}
#Homura{
    background-color: #bbb53b;
}
#Stiches{
    background-color: #bbb53b;
}
#Perfect{
    background-color: #bbb53b;
}
#Likethat{
    background-color: #bbb53b;
}
#Incomplete{
    background-color: #bbb53b;
}
#Silence{
    background-color: #bbb53b;
}
#Closer{
    background-color: #bbb53b;
}
#Idontcare{
    background-color: #bbb53b;
}
#blackbook{
    background-color: #bbb53b;
}
#Whereverigo{
    background-color: #bbb53b;
}
#Littlelittle{
    background-color: #bbb53b;
}
#Anbenum{
    background-color: #bbb53b;

}
#Ennasolla{
    background-color: #bbb53b;
}
#Kannodukanbathellam{
    background-color: #bbb53b;
}
